div.container
    h2 User
    hr
    form(action="/api/user" method="POST" enctype="multipart/form-data")
        div.row
            div.col-lg-6
                input(type="text" name="name" placeholder="Firstname" aria-describedby="basic-addon1").form-control
                br
            div.col-lg-6
                input(type="text" name="lastname" placeholder="Lastname" aria-describedby="basic-addon1").form-control
        br
        div.row
            div.col-lg-6
                input(type="email" name="email" placeholder="E-mail" aria-describedby="basic-addon1").form-control
                br
            div.col-lg-6
                input(type="text" name="tel" placeholder="tel" aria-describedby="basic-addon1").form-control
        br
        div.row
            div.col-lg-3
                input(type="file" name="file" id="files")
                br
                img(id="image", alt="").image-80
        br
        div.row
            div.col-lg-1
                    button.btn.btn-success Save 
        br
        hr
    h2 User Data 
    br
    div.table-responsive
        table.table
            thead
                tr 
                    th
                    th Firstname
                    th Lastname
                    th E-mail
                    th Tel
            tbody 
                tr(ng-repeat="user in user") 
                    td
                        img(src="{{baseURL}}image/{{user.image}}", alt="image").image-50
                    td.text-vertically-center(ng-show="user._id != binding._id") {{user.name}}
                    td.text-vertically-center(ng-show="user._id != binding._id") {{user.lastname}}
                    td.text-vertically-center(ng-show="user._id != binding._id") {{user.email}}
                    td.text-vertically-center(ng-show="user._id != binding._id") {{user.tel}}
                    
                    td.text-vertically-center(ng-show="status && user._id == binding._id") 
                        input(type="text" ng-model="binding.name")
                    td.text-vertically-center(ng-show="status && user._id == binding._id") 
                        input(type="text" ng-model="binding.lastname")
                    td.text-vertically-center(ng-show="status && user._id == binding._id") 
                        input(type="text" ng-model="binding.email")
                    td.text-vertically-center(ng-show="status && user._id == binding._id") 
                        input(type="text" ng-model="binding.tel")
                    td
                        button.btn.btn-primary.margin-top-15(ng-click="edit(user)" ng-show="user._id != binding._id") Edit
                        button.btn.btn-success.margin-top-15(ng-click="editSave(binding)" ng-show="status && user._id == binding._id") Save
                    td
                        button.btn.btn-danger.margin-top-15(ng-click="delete(user._id)") Delete 

