div.container
    h2 User
    hr
    form(action="/api/user" method="POST" enctype="multipart/form-data")
        div.row
            div.col-lg-6
                    input(type="text" name="name" placeholder="Firstname" aria-describedby="basic-addon1").form-control
            div.col-lg-6
                    input(type="text" name="lastname" placeholder="Lastname" aria-describedby="basic-addon1").form-control
        br
        div.row
            div.col-lg-6
                    input(type="email" name="email" placeholder="E-mail" aria-describedby="basic-addon1").form-control
            div.col-lg-6
                    input(type="text" name="tel" placeholder="tel" aria-describedby="basic-addon1").form-control
        br
        div.row
            div.col-lg-3
                input(type="file" name="file" id="files")
                br
                img(id="image", alt="").image-80
        br
        div.row
            div.col-lg-1
                    button.btn.btn-default.dropdown-toggle Save 
        br
        hr
    h2 User Data 
    br
    div.table-responsive
        table.table
            thead
                tr 
                    th
                    th Firstname
                    th Lastname
                    th E-mail
                    th Tel
            tbody 
                tr(ng-repeat="user in user") 
                    td
                        img(src="http://localhost:2020/image/{{user.image}}", alt="image").image-80
                    td.text-vertically-center {{user.name}}
                    td.text-vertically-center {{user.lastname}}
                    td.text-vertically-center {{user.email}}
                    td.text-vertically-center {{user.tel}}
